.about-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 80px 0 80px 0;
}

#writers {
  display: flex;
  background-color: #97BDAD;
  color: white;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 40px 64px 80px;
}

.writer-div {
  font-family: "Aboreto", system-ui;
  font-size: 36px;
  padding: 40px;
  /* width: 660px; */
}

.writer-p {
  font-family: "Aleo", serif;
  font-size: 24px;
  padding: 40px;
}


#artists {
  display: flex;
  flex-direction: row;
  background-color: #DE4921;
  color: white;
  align-items: center;
  justify-content: center;
  padding: 40px 64px 80px;
}


.artist-div {
  font-family: "Aboreto", system-ui;
  font-size: 36px;
  padding: 40px;
  /* width: 660px; */
}

.artist-p {
  font-family: "Aleo", serif;
  font-size: 24px;
  padding: 40px;
}
