.book-selection-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #97BDAD;
  height: auto;
  padding: 56px 0 56px 0px;
}

.card {
  position: relative;
  height: auto;
  width: 370px; 
  border-radius: 15px;
  background-color: #FFFFFF;
  margin: 24px;
  transition: 0.5s;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
	transform: translateY(0px);
}

.card-wrapper {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.book-img {
  margin-top: 70px;
  width: 200px;
  height: auto;
}

.card-title {
  font-family: "Aleo", serif;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin: 8px;
}

.card:hover {
	transform: translateY(-20px);
}

.card:hover .hover-text {
	transform: translateY(80px);
  transition: 0.2s;
	opacity: 0;
}

.hover-text {
  font-family: "Aleo", serif;
  font-weight: 600;
  color:rgb(126, 126, 126);
  transform: translateY(50px);
}

.card .card-wrapper button {
	list-style: none;
	margin: 0 10px;
	transform: translateY(20px);
	transition: 0.2s;
	opacity: 0;
}

.card .card-wrapper:hover button {
	transform: translateY(0px);
	opacity: 1;
}
