.bookwrapper {
  flex-grow: 1;
  background-color: #7978A4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-card-wrapper {
  height: auto;
  width: 370px; 
  border-radius: 15px;
  /* background-color: #FFFFFF; */
  margin: 24px;
}

.hero-card {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.book-logo-img {
  width: 300px;
  height: auto;
}

/* .btm-gradient {
  bottom: 0;
  min-height: 340px;
  background: rgb(49,49,70);
  background: linear-gradient(0deg, rgba(49,49,70,0.8) 0%, rgba(87,86,111,0.5) 50%, rgba(88,87,113,0.01) 80%);
} */
