.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100vw;
  background-color: #F8F8F9;
}

.reviews-wrapper{
  height: auto;
}

.review-logo-text {
  background-color: #F8F8F9;
  width: 100vw;
  font-family: "Aboreto", system-ui;
  font-weight: 400;
  font-size: 64px;
  font-style: normal;
  color: #C4752A;
  padding-bottom: 88px;
}

.review-card-wrapper {
  padding: 0 36px 0 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #F8F8F9;
  /* margin-bottom: 32px; */
}


.review-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  height: 330px;
  width: 100%;
  margin: 32px 32px 0 0px;
  background-color: #FFFFFF;
  border-radius: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
}


.review-final {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Aleo", serif;
  font-weight: 700;
  font-size: 40px;
  gap: 56px;
  background-image: url('../imgFolder/secondary_shapes.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* background-position:center bottom; */
  background-position: 100% 110%;
  padding: 0 140px 0 140px;
}

.review-img {
  position: absolute;
  left: 32px;
}

.review-text-wrapper{
  margin: 0 32px 0 200px
}

.review-text-wrapper p {
  font-family: "Istok Web", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 24px;
}

.review-text-wrapper #italics {
  float: right;
}


.review-text-wrapper h1 {
  font-family: "Aleo", serif;
  font-weight: 700;
  font-size: 36px;
}