
.shop-wrapper {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.search-results {
  background-color: #F8F8F9;
  height: 100vh
}

.side-menu {
  flex-grow: 1;
}

.search-results {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

.search-wrapper {
  min-width: 0;
  display: flex;
  flex-direction: row;
  height: 53px;
  width: 550px;
  border-radius: 50px;
  background-color: #ffff;
  align-items: center;
  padding: 0 16px 0 16px;
}

.search-results input {
  border-style: none;
  width: 100%;
}

.search-results button {
  min-width: 170px;
  margin-left: 16px;
}

input::placeholder {
  color: #7D7D7D;
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
}

input:focus {
  outline: none;
}
