
.shop-wrapper {
  padding-top: 24px;
  display: flex;
  flex-direction: row;
  width: 100vw;
  background-color: #F8F8F9;
  height: fit-content;
}

.search-results {
  background-color: #F8F8F9;
  width: 100vw;
  padding-right: 40px;
  height: fit-content;
  align-items: center;
}

.side-menu {
  min-width: 250px;
  background-color: #FFFF;
  border-radius: 15px;
  margin-left: 32px;
  margin-top: 80px;
  height: fit-content;
  padding-bottom: 24px;
}

.menu-list {
  display: flex;
  flex-direction: column;
  font-family: "Aleo", serif;
  font-size: 20px;
  margin-top: 24px;
  gap: 32px;
}

.menu-text {
  color: #303030;
  padding-left: 32px;
}

.menu-text:hover {
  cursor: pointer;
  color: #000000;
  background-color: #cecece;
}

.search-results {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.search-wrapper {
  min-width: 0;
  display: flex;
  flex-direction: row;
  min-height: 53px;
  width: 80%;
  border-radius: 50px;
  border: 2px solid #E6E6E6;
  background-color: #ffff;
  align-items: center;
  padding: 0 14px 0 14px;
}

.search-results input {
  border-style: none;
  width: 100%;
}

.search-results button {
  min-width: 170px;
  margin-left: 16px;
}

input::placeholder {
  color: #7D7D7D;
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
}

input:focus {
  outline: none;
}

.search-text {
  font-family: "Aleo", serif;
  font-weight: 300;
  font-size: 32px;
  margin-top: 20px;  
  width: 100%;
  text-align: center;
}

.results-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  height: auto;
}