
.shop-wrapper {
  background-color: #C4752A;
}

.search-wrapper {
  min-width: 0;
  display: flex;
  flex-direction: row;
  height: 53px;
  width: 550px;
  border-radius: 50px;
  background-color: #ffff;
  align-items: center;
  justify-content: center;
  padding: 0 16px 0 16px;
}

.shop-wrapper input {
  border-style: none;
  width: 100%;
}

.shop-wrapper button {
  min-width: 170px;
  margin-left: 16px;
}

input::placeholder {
  color: #7D7D7D;
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
}

input:focus {
  outline: none;
}
