@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap');

body {
  position: absolute;
  width: 100vw;
}
.main-wrapper {
  display: flex;
  flex-direction: column;
}

.primary-btn {
  border-radius: 50px;
  border: 2px solid #C4752A;
  background-color: #C4752A;
  padding: 16px 48px 16px 48px;
  cursor: pointer;
  color: #FFFFFF;
  font-family: "Roboto Mono", monospace, bold;
  font-weight: 700;
  font-size: 16px;
	transition: 0.5s;
}

.primary-btn:hover {
  border-radius: 50px;
  border: 2px solid #C4752A;
  background-color: #FFFFFF;
  padding: 16px 48px 16px 48px;
  cursor: pointer;
  color: #C4752A;
  font-family: "Roboto Mono", monospace, bold;
  font-weight: 700;
  font-size: 16px;
}


.secondary-btn {
  border-radius: 50px;
  border: 2px solid #7978A4;
  background-color: #7978A4;
  padding: 16px 48px 16px 48px;
  cursor: pointer;
  min-width: 170px;
  color: #FFFFFF;
  font-family: "Roboto Mono", monospace, bold;
  font-weight: 700;
  font-size: 16px;
	transition: 0.5s;
}

.secondary-btn:hover {
  border-radius: 50px;
  border: 2px solid #7978A4;
  background-color: #FFFFFF;
  padding: 16px 48px 16px 48px;
  cursor: pointer;
  min-width: 170px;
  color: #7978A4;
  font-family: "Roboto Mono", monospace, bold;
  font-weight: 700;
  font-size: 16px;
}


.tertiary-btn {
  border-radius: 50px;
  border: 2px solid #FFFFFF;
  background-color: #FFFFFF;
  padding: 16px 48px 16px 48px;
  cursor: pointer;
  color: #805D4F;
  font-family: "Roboto Mono", monospace, bold;
  font-weight: 700;
  font-size: 16px;
	transition: 0.5s;
}

.tertiary-btn:hover {
  border-radius: 50px;
  border: 2px solid #C7E6B2;
  background-color: #C7E6B2;
  padding: 16px 48px 16px 48px;
  cursor: pointer;
  color: #805D4F;
  font-family: "Roboto Mono", monospace, bold;
  font-weight: 700;
  font-size: 16px;
}

.user-btn {
  border-radius: 50px;
  border: 2px solid #C4752A;
  background-color: #C4752A;
  padding: 14px 17px 14px 17px;
  cursor: pointer;
	transition: 0.5s;
  margin-left: 24px;
}

.user-btn svg {
  height: 24px;
  color: #FFFFFF;
}

.user-btn:hover {
  border-radius: 50px;
  border: 2px solid #FFFFFF;
  background-color: #FFFFFF;
  padding: 14px 17px 14px 17px;
  cursor: pointer;
  margin-left: 24px;
  color: #C4752A;
}

.user-btn:hover svg {
  color: #C4752A;
}